<app-nav-bar></app-nav-bar>

<div class="container my-5">
    <h1 class="mb-3">Add New Cuisine</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" [formGroup]="cuisineForm" (ngSubmit)="addCuisine()">
                <div class="mb-3" [class.error]="cuisineForm.controls['cuisine'].dirty && cuisineForm.hasError('required', 'cuisine')" class="text-danger">
                    <label for="cuisine" class="form-label">Cuisine</label>
                    <input formControlName="cuisine" type="text" class="form-control" id="cuisine" name="cuisine" [(ngModel)]="addCuisineRequest.cuisine">
                </div>
                <small *ngIf="cuisineForm.controls['cuisine'].dirty && cuisineForm.hasError('required', 'cuisine')" class="text-danger">*Cuisine is required</small><br><br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

    <ng-container *ngIf="cuisinesInformation && cuisinesInformation.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th>Cuisine</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cuisineInformation of cuisinesInformation">
                    <td>{{ cuisineInformation.cuisine }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <p *ngIf="!cuisinesInformation || cuisinesInformation.length <= 0">
        No cuisine records found !
    </p>
</div>